*.lo
*.la
*.o
*.obj
libtool
ltmain.sh
configure
missing
stamp-h1
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.h
config.log
config.status
config.sub
*/.deps
*/.libs
cpuid_tool/cpuid_tool
depcomp
install-sh
libcpuid.pc
libcpuid/docs
